@charset "utf-8";
/* CSS Document */

@media screen and (min-width: 0px){
	body{background:#fff}

section{float: center;}

#body{

	width:330px;
	margin: 0 auto;
	margin-top: -10px;
	margin-bottom: -10px;
	border-left: #000 3px solid;
	border-right: #000 3px solid;
	background:#ddd;
}

header{
	border-bottom: rgba(0,0,0,0.04) 3px solid;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

header:hover{
	border-bottom: rgba(0,0,0,0.5) 3px solid;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
#logo2{
	width: 200px;
height: 100px;

}
nav ul li{
	
	list-style-type:none;
	float:left;
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size: 10px;
position: relative;
top: -23px;
left: 40px;
}

nav ul li a{
	color:#000;
	text-decoration: none;
	padding:10px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
		
}

nav ul li a:hover{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	border-bottom:#555 3px solid;
}

/* section left*/
#left{
width: 0px;
height:0px;
}

.img1{
width: 0px;
height:0px;
}
.img2{
width: 0px;
height:0px;
position: relative;
top:-100px;
}

#familytext{
	width: 0px;
height:0px;
}
#familytext p{
	opacity: 0;
}

/* sector or #section1 */
#section1{
	height: 778px;
}

#articleinfo{
	padding: 0px 20px 10px 10px;
	background:rgba(221,221,221,1);
	width:200px;
	
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:12px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#articleinfo:hover{
	background:rgba(255,255,255,0.27);
	width:200px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#articleinfo ul{
	list-style:none;
}

#footer{clear:both;
padding:10px;}

#contactus ul li{
	padding-bottom:5px;
	list-style:none;
}

.gmaps{
	width: 150px;
height: 150px;
position: absolute;
float:right;
top: 445px;

}

#sectionanimeemail td{
padding:10px;	
}

#sectionbleachindex{
	padding:15px;
	position:relative;
	left:26%;
	top:60px;
	width:700px;
	border:#da6e03 6px solid;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-WebKit-border-radius: 10px 10px 10px 10px;
	color:#000;
	background:#CCC;
}
}

@media screen and (min-width: 750px){
	body{background:#fff}

section{float: center;}

#body{

	width:700px;
	margin: 0 auto;
	margin-top: -10px;
	margin-bottom: -10px;
	border-left: #000 3px solid;
	border-right: #000 3px solid;
	background:#ddd;
}

header{
	border-bottom: rgba(0,0,0,0.04) 3px solid;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

header:hover{
	border-bottom: rgba(0,0,0,0.5) 3px solid;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

nav ul li{
	
	list-style-type:none;
	float:left;
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size: 20px;
position: relative;
top: -55px;
left: 250px;
}

nav ul li a{
	color:#000;
	text-decoration: none;
	padding:10px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
		
}

nav ul li a:hover{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	border-bottom:#555 3px solid;
}

/* section left*/
#left{
width: 0px;
height:0px;
}

.img1{
width: 0px;
height:0px;
}

#familytext{
	width: 0px;
height:0px;
}
#familytext p{
	opacity: 0;
}

/* sector or #section1 */
#section1{
	height: 778px;
}

#articleinfo{
	padding: 0px 20px 10px 10px;
	background:rgba(221,221,221,1);
	width:500px;
	position:relative;
	left:100px;
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:16px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#articleinfo:hover{
	background:rgba(255,255,255,0.27);
	width:500px;
	position:relative;
	left:100px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#articleinfo ul{
	list-style:none;
}

#footer{clear:both;
padding:10px;}

#contactus ul li{
	padding-bottom:5px;
	list-style:none;
}

.gmaps{
	width: 300px;
	height: 300px;
	position: absolute;
	left:230px;
	top:255px;
}

#sectionanimeemail td{
padding:10px;	
}

#sectionbleachindex{
	padding:15px;
	position:relative;
	left:26%;
	top:60px;
	width:700px;
	border:#da6e03 6px solid;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-WebKit-border-radius: 10px 10px 10px 10px;
	color:#000;
	background:#CCC;
}
}

@media screen and (min-width: 1196px){
	body{background:#fff}

section{float: left;}

#body{

	width:1000px;
	margin: 0 auto;
	margin-top: -10px;
	margin-bottom: -10px;
	border-left: #000 3px solid;
	border-right: #000 3px solid;
	background:#ddd;
}

header{
	border-bottom: rgba(0,0,0,0.04) 3px solid;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

header:hover{
	border-bottom: rgba(0,0,0,0.5) 3px solid;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

nav ul li{
	
	list-style-type:none;
	float:left;
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:24px;
	position:relative;
	top:-55px;
	left:35%;
}

nav ul li a{
	color:#000;
	text-decoration: none;
	padding:10px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
		
}

nav ul li a:hover{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	border-bottom:#555 3px solid;
}

/* section left*/
#left{
	width: 200px;
	height: 931px;
	margin: -10px;
}

.img1{
width: 200px;
height:215px;
position: relative;
z-index: 6;
	left: -10px;
	opacity: 0.01;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.img1:hover{
	opacity: 0.6;
	z-index: 8;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	#familytext{

	}
}

#familytext{
	background: #000;
	width: 200px;
	height: 60px;
	opacity: 0.7;
	position: relative;
	top: -80px;
	left: -10px;
	z-index: 9;
}
#familytext p{
	text-align: center;
	display: block;
	color: #fff;
	opacity: 0.7;
	z-index: 7;
}

/* sector or #section1 */
#section1{
	height: 778px;
}

#articleinfo{
	padding: 0px 20px 10px 10px;
	background:rgba(221,221,221,1);
	width:800px;
	position:relative;
	left:100px;
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#articleinfo:hover{
	background:rgba(255,255,255,0.27);
	width:800px;
	position:relative;
	left:100px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#articleinfo ul{
	list-style:none;
}

#footer{clear:both;
padding:10px;}

#contactus ul li{
	padding-bottom:5px;
	list-style:none;
}

.gmaps{
	position: absolute;
	left:230px;
	top:255px;
}

#sectionanimeemail td{
padding:10px;	
}

#sectionbleachindex{
	padding:15px;
	position:relative;
	left:26%;
	top:60px;
	width:700px;
	border:#da6e03 6px solid;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-WebKit-border-radius: 10px 10px 10px 10px;
	color:#000;
	background:#CCC;
}
}

@media screen and (min-width: 1600px){
body{background:#fff}

section{float: left;}

#body{

	width:1300px;
	margin: 0 auto;
	margin-top: -10px;
	margin-bottom: -10px;
	border-left: #000 3px solid;
	border-right: #000 3px solid;
	background:#ddd;
}

header{
	border-bottom: rgba(0,0,0,0.04) 3px solid;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

header:hover{
	border-bottom: rgba(0,0,0,0.5) 3px solid;
		-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

nav ul li{
	
	list-style-type:none;
	float:left;
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:24px;
	position:relative;
	top:-55px;
	left:35%;
}

nav ul li a{
	color:#000;
	text-decoration: none;
	padding:10px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
		
}

nav ul li a:hover{
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	border-bottom:#555 3px solid;
}

/* section left*/
#left{
	width: 289px;
	height: 931px;
	margin: -10px;
}

.img1{
width: 289px;
height:215px;
position: relative;
z-index: 6;
	left: -10px;
	opacity: 0.01;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.img1:hover{
	opacity: 0.6;
	z-index: 8;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	#familytext{

	}
}

#familytext{
	background: #000;
	width: 289px;
	height: 60px;
	opacity: 0.7;
	position: relative;
	top: -80px;
	left: -10px;
	z-index: 9;
}
#familytext p{
	text-align: center;
	display: block;
	color: #fff;
	opacity: 0.7;
	z-index: 7;
}

/* sector or #section1 */
#section1{
	height: 778px;
}

#articleinfo{
	padding: 0px 20px 10px 10px;
	background:rgba(221,221,221,1);
	width:800px;
	position:relative;
	left:100px;
	font-family:Georgia, "Times New Roman", Times, serif; 
	font-size:20px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#articleinfo:hover{
	background:rgba(255,255,255,0.27);
	width:800px;
	position:relative;
	left:100px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#articleinfo ul{
	list-style:none;
}

#footer{clear:both;
padding:10px;}

#contactus ul li{
	padding-bottom:5px;
	list-style:none;
}

.gmaps{
	position: absolute;
	left:230px;
	top:225px;
}

#sectionanimeemail td{
padding:10px;	
}

#sectionbleachindex{
	padding:15px;
	position:relative;
	left:26%;
	top:60px;
	width:700px;
	border:#da6e03 6px solid;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-WebKit-border-radius: 10px 10px 10px 10px;
	color:#000;
	background:#CCC;
}}